{% extends "basic.html" %} {% load static %} {% block head %}
<link
  rel="stylesheet"
  href="{% static 'patient/consult_a_doctor/consult_a_doctor.css' %}"
/>

<link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
  type="text/css"
  rel="stylesheet"
/>

{% endblock %} {% block body %}

<br /><br /><br /><br /><br /><br />
<center><h2>Related Hospital</h2></center>
<div class="container mt-5 mb-3">
  <br />

  <table class="table table-hover table-bordered">
    <thead class="thead-dark">
      <tr>
        <th>Hospital name</th>
        <th>Address in Google map</th>
        <th>Open hour</th>
        <th>Hospital specialization</th>
      </tr>
    </thead>

    <tbody>
      {% for i in hobj %}

      <tr>
        <td>{{i.hospitalname}}</td>
        <td>
          
         <a href={{i.hospitalmap}}><button type="submit" class="btn btn-primary">Google Map</button></a>
          
        </td>
        <td>{{i.hospitaltime}}</td>
        <td>{{i.hospitalspecial}}</td>
      </tr>

      {% endfor %}
    </tbody>
  </table>
</div>

{% endblock %}
